<h1>Editing SWOT-matrix</h1>


	
	
	
	
	<table>
  		<tr>
  			<td><%=h @matrix_items.find_all{|item| item.swot==@swot}.size%> елементів в матриці</td>
  			<%for matrix_item in @matrix_items.find_all{|item| item.swot==@swot}.find_all{|item| item.x==0}%>
				<td><%=h matrix_item.list_str_wk.name%></td>
			<%end%>
  		</tr>
  		<tr>
  			<td>
  				<%for matrix_itemm in @matrix_items.find_all{|item| item.swot==@swot}.find_all{|item| item.y==0}%>
					<tr>
						<td>
						<%=h matrix_itemm.list_opp_tr.name%><br />
						</td>
						
						<% for matrix_itemmm in @matrix_items.find_all{|item| item.swot==@swot}.find_all{|item| (item.x==matrix_itemm.x)&&(item.list_opp_tr.name==matrix_itemm.list_opp_tr.name)}%>
							<td>
								<fieldset>
								<%form_for :matrix_itemmm, :url => {:action => :update_matrix} do |form| %>
								<%= form.text_field :value, :size =>10%><br />
								<%=h matrix_itemmm.value %><br />
								<%=submit_tag%>
    							<% end%>							
								</fieldset>
							</td>
						<%end%>
						
					</tr>
				<%end%>				
  			</td>			
					
  		</tr>
		
  	</table>
	
	
	
	
	
	
  



